<h1>Book a meeting</h1>

<%= simple_form_for([current_user, @meeting]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <hr>
    <%= f.datetime_select :start_time , required: true %>
    <hr>
    <%= f.datetime_select :end_time %>
    <hr>
    <%= f.select :room_id,
        [['Building C - Common Area',                             1],
         ['Building C - Justin D Herrick Memorial Room',          2],
         ['Building C - The Sam J Kapila Honorary Design Suite',  3],
         ["Building C - The 'Kitchen'",                           4],
         ['Building K - The Blue Room',                           5],
         ['Building K - The Yellow Room',                         6],
         ['Building K - The Fish Room',                           7],
         ['Building K - The White Room',                          8]] %>
  <div class="form-actions">
    <%= f.button :submit, "Book this meeting" %>
  </div>
<% end %>
