<h2>Sign up</h2>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true %>
    <hr>
    <%= f.input :last_name , required: true %>
    <hr>
    <%= label_tag("Enter your birthday") %>
    <%= f.date_select :dob,
                   required: true, as: :date, start_year: Date.today.year - 90,
                   end_year: Date.today.year - 12,
                      order: [:month, :day, :year] %>
    <hr>
    <%= label_tag("Pick a color please!") %>
    <%= f.color_field :favorite_color %>

    <hr>
    <%= f.input :email, required: true %>
    <hr>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <hr>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

