<h1>Add a Comment</h1>

<%= simple_form_for([current_user, @comment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body, required: true, autofocus: true %>
    <%= f.select(:users, @users.id) %>
    <%= f.select :meeting, [Meeting.all.name] %>

  <div class="form-actions">
    <%= f.button :submit, "Add comment" %>
  </div>
<% end %>


