<h1>Add a Comment</h1>

<%= simple_form_for @comment do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body, required: true, autofocus: true %>
    <%= f.input  :user, required: true %>
    <%= f.input :meeting, required: true %>
    <%= f.file_field :image %>

  <div class="form-actions">
    <%= f.button :submit, "Book this meeting" %>
  </div>
<% end %>
