<h1>Edit a room</h1>

<%= simple_form_for @room do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <hr>
    <%= f.input  :location , required: true %>
    <hr>
    <%= f.input :description, required: true %>
    <%= f.file_field :image %>

  <div class="form-actions">
    <%= f.button :submit, "Book this meeting" %>
  </div>
<% end %>
